In [1]:
#Import relevant libraries
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta
import random

In [2]:
#Initalize faker
fake = Faker('en_US')
Faker.seed(9158)
np.random.seed(9158)
random.seed(9158)

In [3]:
#Number of records
num_records = 9000

In [4]:
#States and Cities
states_cities = {
    'New York': ['New York City', 'Buffalo', 'Rochester'],
    'North Carolina': ['Charlotte', 'Raleigh', 'Greensboro'],
    'Texas': ['San Antonio', 'Dallas', 'Houston'],
    'Florida': ['Miami', 'Orlando', 'Tampa'],
    'California': ['Los Angeles', 'San Francisco', 'Fresno'],
    'Georgia': ['Atlanta', 'Savannah', 'Athens'],
    'Ohio': ['Columbus', 'Cleveland', 'Cincinnati'],
    'Louisiana': ['New Orleans', 'Baton Rouge', 'Shreveport']
}

In [5]:
states = list(states_cities.keys())

In [6]:
state_prob = [0.03, 0.6, 0.11, 0.05, 0.03, 0.10, 0.05, 0.03]

In [7]:
assigned_states = np.random.choice(states, size=num_records, p=state_prob)
assigned_cities = [np.random.choice(states_cities[state]) for state in assigned_states]

In [8]:
#Department and Jobtitles
departments = ['HR', 'IT', 'Sales', 'Marketing', 'Finance', 'Operations', 'Customer Service']
departments_prob = [0.02, 0.16, 0.21, 0.07, 0.05, 0.30, 0.19]

jobtitles = {
    'HR': ['HR Manager', 'HR Coordinator', 'Recruiter', 'HR Assistant'],
    'IT': ['IT Manager', 'Software Developer', 'System Administrator', 'IT Support Specialist'],
    'Sales': ['Sales Manager', 'Sales Consultant', 'Sales Specialist', 'Sales Representative'],
    'Marketing': ['Marketing Manager', 'SEO Specialist', 'Content Creator', 'Marketing Coordinator'],
    'Finance': ['Finance Manager', 'Accountant', 'Financial Analyst', 'Accounts Payable Specialist'],
    'Operations': ['Operations Manager', 'Operations Analyst', 'Logistics Coordinator', 'Inventory Specialist'],
    'Customer Service': ['Customer Service Manager', 'Customer Service Representative', 'Support Specialist', 'Help Desk Technician']
}
jobtitles_prob= {
    'HR': [0.03, 0.3, 0.47, 0.2],
    'IT': [0.02, 0.47, 0.2, 0.31],
    'Sales': [0.03, 0.25, 0.32, 0.4],
    'Marketing': [0.04, 0.25, 0.41, 0.3],
    'Finance': [0.03, 0.37, 0.4, 0.2],
    'Operations': [0.02, 0.2, 0.4, 0.38],
    'Customer Service': [0.04, 0.3, 0.38, 0.28]
}

In [9]:
#Education
educations = ['High School', 'Bachelor', 'Master', 'PhD']

education_mapping = {
    'HR Manager': ['Master', 'PhD'],
    'HR Coordinator': ['Bachelor', 'Master'],
    'Recruiter': ['High School', 'Bachelor'],
    'HR Assistant': ['High School', 'Bachelor'],
    'IT Manager': ['PhD', 'Master'],
    'Software Developer': ['Bachelor', 'Master'],
    'System Administrator': ['Bachelor', 'Master'],
    'IT Support Specialist': ['High School', 'Bachelor'],
    'Sales Manager': ['Master', 'PhD'],
    'Sales Consultant': ['Bachelor', 'Master', 'PhD'],
    'Sales Specialist': ['Bachelor', 'Master', 'PhD'],
    'Sales Representative': ['Bachelor'],
    'Marketing Manager': ['Bachelor', 'Master', 'PhD'],
    'SEO Specialist': ['High School', 'Bachelor'],
    'Content Creator': ['High School', 'Bachelor'],
    'Marketing Coordinator': ['Bachelor'],
    'Finance Manager': ['Master', 'PhD'],
    'Accountant': ['Bachelor'],
    'Financial Analyst': ['Bachelor', 'Master', 'PhD'],
    'Accounts Payable Specialist': ['Bachelor'],
    'Operations Manager': ['Bachelor', 'Master'],
    'Operations Analyst': ['Bachelor', 'Master'],
    'Logistics Coordinator': ['Bachelor'],
    'Inventory Specialist': ['High School', 'Bachelor'],
    'Customer Service Manager': ['Bachelor', 'Master', 'PhD'],
    'Customer Service Representative': ['High School', 'Bachelor'],
    'Support Specialist': ['High School', 'Bachelor'],
    'Help Desk Technician': ['High School', 'Bachelor']
}

In [10]:
#Hiring Dates
year_weights = {
    2015: 7,
    2016: 9,
    2017: 19,
    2018: 10,
    2019: 10,
    2020: 11,
    2021: 4,
    2022: 8,
    2023: 12,
    2024: 10
}

In [11]:
#Generate Date Based on Probabilities
def generate_custom_date(year_weights):
    year = random.choices(list(year_weights.keys()), weights=list(year_weights.values()))[0]
    month = random.randint(1, 12)
    day = random.randint(1, 28)
    return fake.date_time_between(start_date=datetime(year, 1, 1), end_date=datetime(year, 12, 31))

In [12]:
#Generate Random Salaries
def generate_salary(department, job_title):
    salary_dict = {
        'HR': {
            'HR Manager': np.random.randint(60000, 90000),
            'HR Coordinator': np.random.randint(50000, 60000),
            'Recruiter': np.random.randint(50000, 70000),
            'HR Assistant': np.random.randint(50000, 60000)
        },
        'IT': {
            'IT Manager': np.random.randint(80000, 120000),
            'Software Developer': np.random.randint(70000, 95000),
            'System Administrator': np.random.randint(60000, 90000),
            'IT Support Specialist': np.random.randint(50000, 60000)
        },
        'Sales': {
            'Sales Manager': np.random.randint(70000, 110000),
            'Sales Consultant': np.random.randint(60000, 90000),
            'Sales Specialist': np.random.randint(50000, 60000),
            'Sales Representative': np.random.randint(50000, 70000)
        },
        'Marketing': {
            'Marketing Manager': np.random.randint(70000, 100000),
            'SEO Specialist': np.random.randint(50000, 80000),
            'Content Creator': np.random.randint(50000, 60000),
            'Marketing Coordinator': np.random.randint(50000, 70000)
        },
        'Finance': {
            'Finance Manager': np.random.randint(80000, 120000),
            'Accountant': np.random.randint(50000, 80000),
            'Financial Analyst': np.random.randint(60000, 90000),
            'Accounts Payable Specialist': np.random.randint(50000, 60000)
        },
        'Operations': {
            'Operations Manager': np.random.randint(70000, 100000),
            'Operations Analyst': np.random.randint(50000, 80000),
            'Logistics Coordinator': np.random.randint(50000, 60000),
            'Inventory Specialist': np.random.randint(50000, 60000)
        },
        'Customer Service': {
            'Customer Service Manager': np.random.randint(60000, 90000),
            'Customer Service Representative': np.random.randint(50000, 60000),
            'Support Specialist': np.random.randint(50000, 60000),
            'Help Desk Technician': np.random.randint(50000, 80000)
        }
    }
    return salary_dict[department][job_title]

In [13]:
#Generate Dateset
data = []
for _ in range(num_records):
    employee_id = f"00-{random.randint(10000000, 99999999)}"
    first_name = fake.first_name()
    last_name = fake.last_name()
    gender = np.random.choice(['Female', 'Male'], p=[0.48, 0.52])
    state = np.random.choice(states, p=state_prob)
    city = np.random.choice(states_cities[state])
    hiredate = generate_custom_date(year_weights)

    department = np.random.choice(departments, p=departments_prob)
    job_title = np.random.choice(jobtitles[department], p=jobtitles_prob[department])
    education_level = np.random.choice(education_mapping[job_title])
    performance_rating = np.random.choice(['Excellent', 'Good', 'Satisfactory', 'Needs Improvement'], p=[0.08, 0.54, 0.3, 0.08])
    overtime = np.random.choice(['Yes', 'No'], p=[0.3, 0.7])
    salary = generate_salary(department, job_title)

    data.append([
        employee_id,
        first_name,
        last_name,
        gender,
        state,
        city,
        hiredate,
        department,
        job_title,
        education_level,
        salary,
        performance_rating,
        overtime
    ])

In [14]:
#Create dataframe
columns = [
    'employee_id',
    'first_name',
    'last_name',
    'gender',
    'state',
    'city',
    'hiredate',
    'department',
    'job_title',
    'education_level',
    'salary',
    'performance_rating',
    'overtime'
]

In [15]:
df = pd.DataFrame(data, columns=columns)

In [16]:
#Add Birthdate
def generate_birthdate(row):
    age_distribution = {
        'under_25': 0.10,
        '25_34': 0.26,
        '35_44': 0.31,
        '45_54': 0.24,
        'over_55': 0.09
    }

    age_groups = list(age_distribution.keys())
    age_probs = list(age_distribution.values())
    age_group = np.random.choice(age_groups, p=age_probs)

    if any('Manager' in title for title in row['job_title']):
        age = np.random.randint(30, 65)
    elif row['education_level'] == 'PhD':
        age = np.random.randint(27, 65)
    elif age_group == 'under_25':
        age = np.random.randint(20, 25)
    elif age_group == '25_34':
        age = np.random.randint(25, 35)
    elif age_group == '35_44':
        age = np.random.randint(35, 45)
    elif age_group == '45_54':
        age = np.random.randint(45, 55)
    else:
        age = np.random.randint(55, 65)

    birthdate = fake.date_of_birth(minimum_age=age, maximum_age=age)
    return birthdate

In [17]:
#Generate Birthdates for DF
df['birthdate'] = df.apply(generate_birthdate, axis=1)

In [18]:
#Terminations
year_weights = {
    2015: 5,
    2016: 7,
    2017: 10,
    2018: 12,
    2019: 9,
    2020: 10,
    2021: 20,
    2022: 10,
    2023: 7,
    2024: 10
}

In [19]:
#Calculate terminated employees
total_employees = num_records
termination_percentage = 0.12
total_terminated = int(total_employees * termination_percentage)

In [20]:
#Generate termination dates
termination_dates = []
for year, weight in year_weights.items():
    num_terminations = int(total_terminated * (weight / 100))
    termination_dates.extend([year] * num_terminations)

In [21]:
#Shuffle termination dates
random.shuffle(termination_dates)

In [22]:
#Assign termination dates to employees
terminated_indices = df.index[:total_terminated]
for i, year in enumerate(termination_dates[:total_terminated]):
    df.at[terminated_indices[i], 'termdate'] = datetime(year, 1, 1) + timedelta(days=random.randint(0,365))

In [23]:
#Assign none to termdate forworking employees
df['termdate'] = df['termdate'].where(df['termdate'].notnull(), None)

In [24]:
#Make sure termination date is 6 months after hire date
df['termdate'] = df.apply(lambda row: row['hiredate'] + timedelta(days=180) if row['termdate'] and row['termdate'] < 
                          row['hiredate'] + timedelta(days=180) else row['termdate'], axis=1)

In [25]:
education_multiplier = {
    'High School': {'Male': 1.03, 'Female': 1.0},
    'Bachelor': {'Male': 1.115, 'Female': 1.0},
    'Master': {'Male': 1.0, 'Female': 1.07},
    'PhD': {'Male': 1.0, 'Female': 1.17}
}

In [26]:
#Calculate age
def calculate_age(birthdate):
    today = pd.Timestamp('today')
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

In [27]:
#Calculate adjusted salary
def calculate_adjusted_salary(row):
    base_salary = row['salary']
    gender = row['gender']
    education = row['education_level']
    age = calculate_age(row['birthdate'])

    #Apply education multiplier
    multiplier = education_multiplier.get(education, {}).get(gender, 1.0)
    adjusted_salary = base_salary * multiplier

    #Add age increment
    age_increment = 1 + np.random.uniform(0.001, 0.003) * age
    adjusted_salary *= age_increment

    #Ensure adjusted is higher than base
    adjusted_salary = max(adjusted_salary, base_salary)

    return round(adjusted_salary)

In [28]:
#Apply function to df
df['salary'] = df.apply(calculate_adjusted_salary, axis=1)

In [29]:
#Convert dates to datetime
df['hiredate'] = pd.to_datetime(df['hiredate']).dt.date
df['birthdate'] = pd.to_datetime(df['birthdate']).dt.date
df['termdate'] = pd.to_datetime(df['termdate']).dt.date

In [30]:
#Look at df
df.head(5)

,employee_id,first_name,last_name,gender,state,city,hiredate,department,job_title,education_level,salary,performance_rating,overtime,birthdate,termdate
0,00-15290579,Benjamin,Bryant,Female,Georgia,Atlanta,2023-01-15,Operations,Logistics Coordinator,Bachelor,54290,Good,No,1992-02-11,2023-07-14
1,00-63478714,Raymond,Scott,Male,Florida,Miami,2020-10-12,Customer Service,Support Specialist,Bachelor,60709,Good,Yes,1973-01-23,2021-04-10
2,00-74976548,David,Sanchez,Male,North Carolina,Charlotte,2017-07-19,Operations,Logistics Coordinator,Bachelor,62323,Satisfactory,No,1994-06-29,2018-01-15
3,00-33586674,Caroline,Rubio,Male,North Carolina,Raleigh,2024-11-18,Customer Service,Help Desk Technician,High School,56866,Good,Yes,1992-12-05,2025-05-17
4,00-56343022,Edward,Wu,Male,North Carolina,Charlotte,2018-06-14,Sales,Sales Consultant,Master,87875,Satisfactory,No,1979-06-05,2022-06-17

In [31]:
#Save to CSV
df.to_csv('HumanResources.csv', index=False)